@font-face {
    font-family: Font1;
    src: url(/fonts/font-001.ttf);
}

.font-1 {
    font-family: Font1;
}

@font-face {
    font-family: Font2;
    src: url(/fonts/font-002.ttf);
}

.font-2 {
    font-family: Font2;
}

@font-face {
    font-family: Font3;
    src: url(/fonts/font-003.ttf);
}

.font-3 {
    font-family: Font3;
}

@font-face {
    font-family: Font4;
    src: url(/fonts/font-004.ttf);
}

.font-4 {
    font-family: Font4;
}

@font-face {
    font-family: Font5;
    src: url(/fonts/font-005.ttf);
}

.font-5 {
    font-family: Font5;
}

@font-face {
    font-family: Font6;
    src: url(/fonts/font-006.ttf);
}

.font-6 {
    font-family: Font6;
}

@font-face {
    font-family: Font7;
    src: url(/fonts/font-007.ttf);
}

.font-7 {
    font-family: Font7;
}

@font-face {
    font-family: Font8;
    src: url(/fonts/font-008.ttf);
}

.font-8 {
    font-family: Font8;
}

@font-face {
    font-family: Font9;
    src: url(/fonts/font-009.ttf);
}

.font-9 {
    font-family: Font9;
}

@font-face {
    font-family: Font10;
    src: url(/fonts/font-010.ttf);
}

.font-10 {
    font-family: Font10;
}

@font-face {
    font-family: Font11;
    src: url(/fonts/font-011.ttf);
}

.font-11 {
    font-family: Font11;
}

@font-face {
    font-family: Font12;
    src: url(/fonts/font-012.otf);
}

.font-12 {
    font-family: Font12;
}

@font-face {
    font-family: Font13;
    src: url(/fonts/font-013.ttf);
}

.font-13 {
    font-family: Font13;
}

@font-face {
    font-family: Font14;
    src: url(/fonts/font-014.ttf);
}

.font-14 {
    font-family: Font14;
}

@font-face {
    font-family: Font15;
    src: url(/fonts/font-015.ttf);
}

.font-15 {
    font-family: Font15;
}

@font-face {
    font-family: Font16;
    src: url(/fonts/font-016.ttf);
}

.font-16 {
    font-family: Font16;
}

@font-face {
    font-family: Font17;
    src: url(/fonts/font-017.ttf);
}

.font-17 {
    font-family: Font17;
}

@font-face {
    font-family: Font18;
    src: url(/fonts/font-018.ttf);
}

.font-18 {
    font-family: Font18;
}

@font-face {
    font-family: Font19;
    src: url(/fonts/font-019.ttf);
}

.font-19 {
    font-family: Font19;
}

@font-face {
    font-family: Font20;
    src: url(/fonts/font-020.ttf);
}

.font-20 {
    font-family: Font20;
}

@font-face {
    font-family: Font21;
    src: url(/fonts/font-021.ttf);
}

.font-21 {
    font-family: Font21;
}

@font-face {
    font-family: Font22;
    src: url(/fonts/font-022.ttf);
}

.font-22 {
    font-family: Font22;
}

@font-face {
    font-family: Font23;
    src: url(/fonts/font-023.ttf);
}

.font-23 {
    font-family: Font23;
}

@font-face {
    font-family: Font24;
    src: url(/fonts/font-024.ttf);
}

.font-24 {
    font-family: Font24;
}

@font-face {
    font-family: Font25;
    src: url(/fonts/font-025.ttf);
}

.font-25 {
    font-family: Font25;
}

@font-face {
    font-family: Font26;
    src: url(/fonts/font-026.ttf);
}

.font-26 {
    font-family: Font26;
}

@font-face {
    font-family: Font27;
    src: url(/fonts/font-027.otf);
}

.font-27 {
    font-family: Font27;
}

@font-face {
    font-family: Font28;
    src: url(/fonts/font-028.otf);
}

.font-28 {
    font-family: Font28;
}

@font-face {
    font-family: Font29;
    src: url(/fonts/font-029.ttf);
}

.font-29 {
    font-family: Font29;
}

@font-face {
    font-family: Font30;
    src: url(/fonts/font-030.ttf);
}

.font-30 {
    font-family: Font30;
}

@font-face {
    font-family: Font31;
    src: url(/fonts/font-031.ttf);
}

.font-31 {
    font-family: Font31;
}

@font-face {
    font-family: Font32;
    src: url(/fonts/font-032.ttf);
}

.font-32 {
    font-family: Font32;
}

@font-face {
    font-family: Font33;
    src: url(/fonts/font-033.ttf);
}

.font-33 {
    font-family: Font33;
}

@font-face {
    font-family: Font34;
    src: url(/fonts/font-034.ttf);
}

.font-34 {
    font-family: Font34;
}

@font-face {
    font-family: Font35;
    src: url(/fonts/font-035.ttf);
}

.font-35 {
    font-family: Font35;
}

@font-face {
    font-family: Font36;
    src: url(/fonts/font-036.ttf);
}

.font-36 {
    font-family: Font36;
}

@font-face {
    font-family: Font37;
    src: url(/fonts/font-037.ttf);
}

.font-37 {
    font-family: Font37;
}

@font-face {
    font-family: Font38;
    src: url(/fonts/font-038.ttf);
}

.font-38 {
    font-family: Font38;
}

@font-face {
    font-family: Font39;
    src: url(/fonts/font-039.ttf);
}

.font-39 {
    font-family: Font39;
}

@font-face {
    font-family: Font40;
    src: url(/fonts/font-040.ttf);
}

.font-40 {
    font-family: Font40;
}

@font-face {
    font-family: Font41;
    src: url(/fonts/font-041.ttf);
}

.font-41 {
    font-family: Font41;
}

@font-face {
    font-family: Font42;
    src: url(/fonts/font-042.ttf);
}

.font-42 {
    font-family: Font42;
}

@font-face {
    font-family: Font43;
    src: url(/fonts/font-043.ttf);
}

.font-43 {
    font-family: Font43;
}

@font-face {
    font-family: Font44;
    src: url(/fonts/font-044.ttf);
}

.font-44 {
    font-family: Font44;
}

@font-face {
    font-family: Font45;
    src: url(/fonts/font-045.otf);
}

.font-45 {
    font-family: Font45;
}

@font-face {
    font-family: Font46;
    src: url(/fonts/font-046.ttf);
}

.font-46 {
    font-family: Font46;
}

@font-face {
    font-family: Font47;
    src: url(/fonts/font-047.ttf);
}

.font-47 {
    font-family: Font47;
}

@font-face {
    font-family: Font48;
    src: url(/fonts/font-048.ttf);
}

.font-48 {
    font-family: Font48;
}

@font-face {
    font-family: Font49;
    src: url(/fonts/font-049.ttf);
}

.font-49 {
    font-family: Font49;
}

@font-face {
    font-family: Font50;
    src: url(/fonts/font-050.ttf);
}

.font-50 {
    font-family: Font50;
}

@font-face {
    font-family: Font51;
    src: url(/fonts/font-051.ttf);
}

.font-51 {
    font-family: Font51;
}

@font-face {
    font-family: Font52;
    src: url(/fonts/font-052.ttf);
}

.font-52 {
    font-family: Font52;
}

@font-face {
    font-family: Font53;
    src: url(/fonts/font-053.ttf);
}

.font-53 {
    font-family: Font53;
}

@font-face {
    font-family: Font54;
    src: url(/fonts/font-054.ttf);
}

.font-54 {
    font-family: Font54;
}

@font-face {
    font-family: Font55;
    src: url(/fonts/font-055.ttf);
}

.font-55 {
    font-family: Font55;
}

@font-face {
    font-family: Font56;
    src: url(/fonts/font-056.ttf);
}

.font-56 {
    font-family: Font56;
}

@font-face {
    font-family: Font57;
    src: url(/fonts/font-057.ttf);
}

.font-57 {
    font-family: Font57;
}

@font-face {
    font-family: Font58;
    src: url(/fonts/font-058.ttf);
}

.font-58 {
    font-family: Font58;
}

@font-face {
    font-family: Font59;
    src: url(/fonts/font-059.ttf);
}

.font-59 {
    font-family: Font59;
}

@font-face {
    font-family: Font60;
    src: url(/fonts/font-060.ttf);
}

.font-60 {
    font-family: Font60;
}

@font-face {
    font-family: Font61;
    src: url(/fonts/font-061.otf);
}

.font-61 {
    font-family: Font61;
}

@font-face {
    font-family: Font62;
    src: url(/fonts/font-062.otf);
}

.font-62 {
    font-family: Font62;
}

@font-face {
    font-family: Font63;
    src: url(/fonts/font-063.otf);
}

.font-63 {
    font-family: Font63;
}

@font-face {
    font-family: Font64;
    src: url(/fonts/font-064.ttf);
}

.font-64 {
    font-family: Font64;
}

@font-face {
    font-family: "tan-kindred-en";
    src: url(/fonts/tan-kindred.woff2);
}

.font-tan-kindred-en {
    font-family: "tan-kindred-en" !important;
}

@font-face {
    font-family: "saira-stencil-one-vn";
    src: url(/fonts/saira-stencil-one.woff2);
}

.font-saira-stencil-one-vn {
    font-family: "saira-stencil-one-vn" !important;
}

@font-face {
    font-family: "batangas-en";
    src: url(/fonts/batangas.woff2);
}

.font-batangas-en {
    font-family: "batangas-en" !important;
}

@font-face {
    font-family: "josefin-sans-regular-en";
    src: url(/fonts/josefin-sans-regular.woff2);
}

.font-josefin-sans-regular-en {
    font-family: "josefin-sans-regular-en" !important;
}

@font-face {
    font-family: "josefin-sans-light-en";
    src: url(/fonts/josefin-sans-light.woff2);
}

.font-josefin-sans-light-en {
    font-family: "josefin-sans-light-en" !important;
}

@font-face {
    font-family: "fredoka-one-en";
    src: url(/fonts/fredoka-one.woff2);
}

.font-fredoka-one-en {
    font-family: "fredoka-one-en" !important;
}

@font-face {
    font-family: "AyrTropikaIsland-Int-en";
    src: url(/fonts/AyrTropikaIsland-Int.woff2);
}

.font-AyrTropikaIsland-Int-en {
    font-family: "AyrTropikaIsland-Int-en" !important;
}

@font-face {
    font-family: "BM-HANNA-en";
    src: url(/fonts/BM-HANNA.woff2);
}

.font-BM-HANNA-en {
    font-family: "BM-HANNA-en" !important;
}

@font-face {
    font-family: "Balmy-en";
    src: url(/fonts/Balmy.woff2);
}

.font-Balmy-en {
    font-family: "Balmy-en" !important;
}

@font-face {
    font-family: "BalsamiqSans-Regular-en";
    src: url(/fonts/BalsamiqSans-Regular.woff2);
}

.font-BalsamiqSans-Regular-en {
    font-family: "BalsamiqSans-Regular-en" !important;
}

@font-face {
    font-family: "Bara-en";
    src: url(/fonts/Bara.woff2);
}

.font-Bara-en {
    font-family: "Bara-en" !important;
}

@font-face {
    font-family: "Brightwall-Italic-en";
    src: url(/fonts/Brightwall-Italic.woff2);
}

.font-Brightwall-Italic-en {
    font-family: "Brightwall-Italic-en" !important;
}

@font-face {
    font-family: "Brightwall-Regular-en";
    src: url(/fonts/Brightwall-Regular.woff2);
}

.font-Brightwall-Regular-en {
    font-family: "Brightwall-Regular-en" !important;
}

@font-face {
    font-family: "Cakerolli-Regular-en";
    src: url(/fonts/Cakerolli-Regular.woff2);
}

.font-Cakerolli-Regular-en {
    font-family: "Cakerolli-Regular-en" !important;
}

@font-face {
    font-family: "Canda-Tawa-Regular-en";
    src: url(/fonts/Canda-Tawa-Regular.woff2);
}

.font-Canda-Tawa-Regular-en {
    font-family: "Canda-Tawa-Regular-en" !important;
}

@font-face {
    font-family: "Chewy-en";
    src: url(/fonts/Chewy.woff2);
}

.font-Chewy-en {
    font-family: "Chewy-en" !important;
}

@font-face {
    font-family: "Genty-Regular-en";
    src: url(/fonts/Genty-Regular.woff2);
}

.font-Genty-Regular-en {
    font-family: "Genty-Regular-en" !important;
}

@font-face {
    font-family: "HarlowSolidStd-en";
    src: url(/fonts/HarlowSolidStd.woff2);
}

.font-HarlowSolidStd-en {
    font-family: "HarlowSolidStd-en" !important;
}

@font-face {
    font-family: "JosefinSans-LightItalic-en";
    src: url(/fonts/JosefinSans-LightItalic.woff2);
}

.font-JosefinSans-LightItalic-en {
    font-family: "JosefinSans-LightItalic-en" !important;
}

@font-face {
    font-family: "JosefinSans-Regular-en";
    src: url(/fonts/JosefinSans-Regular.woff2);
}

.font-JosefinSans-Regular-en {
    font-family: "JosefinSans-Regular-en" !important;
}

@font-face {
    font-family: "Jua-Regular-en";
    src: url(/fonts/Jua-Regular.woff2);
}

.font-Jua-Regular-en {
    font-family: "Jua-Regular-en" !important;
}

@font-face {
    font-family: "Lazydog-en";
    src: url(/fonts/Lazydog.woff2);
}

.font-Lazydog-en {
    font-family: "Lazydog-en" !important;
}

@font-face {
    font-family: "Luckybones-Bold-en";
    src: url(/fonts/Luckybones-Bold.woff2);
}

.font-Luckybones-Bold-en {
    font-family: "Luckybones-Bold-en" !important;
}

@font-face {
    font-family: "March-Clean-en";
    src: url(/fonts/March-Clean.woff2);
}

.font-March-Clean-en {
    font-family: "March-Clean-en" !important;
}

@font-face {
    font-family: "Marykate-en";
    src: url(/fonts/Marykate.woff2);
}

.font-Marykate-en {
    font-family: "Marykate-en" !important;
}

@font-face {
    font-family: "MiCrackerBold-en";
    src: url(/fonts/MiCrackerBold.woff2);
}

.font-MiCrackerBold-en {
    font-family: "MiCrackerBold-en" !important;
}

@font-face {
    font-family: "MonterchiSans-Regular-en";
    src: url(/fonts/MonterchiSans-Regular.woff2);
}

.font-MonterchiSans-Regular-en {
    font-family: "MonterchiSans-Regular-en" !important;
}

@font-face {
    font-family: "MoreSugar-Regular-en";
    src: url(/fonts/MoreSugar-Regular.woff2);
}

.font-MoreSugar-Regular-en {
    font-family: "MoreSugar-Regular-en" !important;
}

@font-face {
    font-family: "MoreSugar-Thin-en";
    src: url(/fonts/MoreSugar-Thin.woff2);
}

.font-MoreSugar-Thin-en {
    font-family: "MoreSugar-Thin-en" !important;
}

@font-face {
    font-family: "Noot-en";
    src: url(/fonts/Noot.woff2);
}

.font-Noot-en {
    font-family: "Noot-en" !important;
}

@font-face {
    font-family: "Pompiere-Regular-en";
    src: url(/fonts/Pompiere-Regular.woff2);
}

.font-Pompiere-Regular-en {
    font-family: "Pompiere-Regular-en" !important;
}

@font-face {
    font-family: "Quando-en";
    src: url(/fonts/Quando.woff2);
}

.font-Quando-en {
    font-family: "Quando-en" !important;
}

@font-face {
    font-family: "Quicksand-Light-en";
    src: url(/fonts/Quicksand-Light.woff2);
}

.font-Quicksand-Light-en {
    font-family: "Quicksand-Light-en" !important;
}

@font-face {
    font-family: "Quicksand-Regular-en";
    src: url(/fonts/Quicksand-Regular.woff2);
}

.font-Quicksand-Regular-en {
    font-family: "Quicksand-Regular-en" !important;
}

@font-face {
    font-family: "Railey-en";
    src: url(/fonts/Railey.woff2);
}

.font-Railey-en {
    font-family: "Railey-en" !important;
}

@font-face {
    font-family: "Schoolbell-en";
    src: url(/fonts/Schoolbell.woff2);
}

.font-Schoolbell-en {
    font-family: "Schoolbell-en" !important;
}

@font-face {
    font-family: "Sergio-Trendy-Regular-en";
    src: url(/fonts/Sergio-Trendy-Regular.woff2);
}

.font-Sergio-Trendy-Regular-en {
    font-family: "Sergio-Trendy-Regular-en" !important;
}

@font-face {
    font-family: "Sigher--en";
    src: url(/fonts/Sigher-.woff2);
}

.font-Sigher--en {
    font-family: "Sigher--en" !important;
}

@font-face {
    font-family: "Sniglet-Regular-en";
    src: url(/fonts/Sniglet-Regular.woff2);
}

.font-Sniglet-Regular-en {
    font-family: "Sniglet-Regular-en" !important;
}

@font-face {
    font-family: "Stella-en";
    src: url(/fonts/Stella.woff2);
}

.font-Stella-en {
    font-family: "Stella-en" !important;
}

@font-face {
    font-family: "SugoProDisplay-BoldItalic-en";
    src: url(/fonts/SugoProDisplay-BoldItalic.woff2);
}

.font-SugoProDisplay-BoldItalic-en {
    font-family: "SugoProDisplay-BoldItalic-en" !important;
}

@font-face {
    font-family: "SugoProDisplay-Regular-en";
    src: url(/fonts/SugoProDisplay-Regular.woff2);
}

.font-SugoProDisplay-Regular-en {
    font-family: "SugoProDisplay-Regular-en" !important;
}

@font-face {
    font-family: "TabarraProRound-Bold-en";
    src: url(/fonts/TabarraProRound-Bold.woff2);
}

.font-TabarraProRound-Bold-en {
    font-family: "TabarraProRound-Bold-en" !important;
}

@font-face {
    font-family: "TabarraProRound-NormalItalic-en";
    src: url(/fonts/TabarraProRound-NormalItalic.woff2);
}

.font-TabarraProRound-NormalItalic-en {
    font-family: "TabarraProRound-NormalItalic-en" !important;
}